<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cell_or_organism.name %>
</p>


<%= link_to 'Edit', edit_cell_or_organism_path(@cell_or_organism) %> |
<%= link_to 'Back', cell_or_organisms_path %>
