<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @analysis_technique.name %>
</p>


<%= link_to 'Edit', edit_analysis_technique_path(@analysis_technique) %> |
<%= link_to 'Back', analysis_techniques_path %>
