<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @purpose_of_imaging.name %>
</p>


<%= link_to 'Edit', edit_purpose_of_imaging_path(@purpose_of_imaging) %> |
<%= link_to 'Back', purpose_of_imagings_path %>
